@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* 60 - 30 - 10 */

:root {
  --text: #efe3f7;
  --bg-black: #110718;
  --prim-light-purple: #c190df;
  --sec-dark-purple: #230638;
  --acc-br-purple: #8d38c2;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: grid;
  justify-content: center;
  background: var(--bg-black);  
  color: var(--text);
  height: 80vh;
}

.container {
  width: 880px;
  border: 1px solid #93c5fd;
  padding: 5px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin-right: auto;
  font-size: 20px;
  text-transform: uppercase;
  user-select: none;
}

.btns {
  display: flex;
  gap: 20px;
}

.btns button {
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  user-select: none;
}

.btns button:last-of-type {
  background-color: var(--sec-dark-purple);
  color: var(--text);
  will-change: filter;
  transition: filter 300ms;
}

.btns button:last-of-type:hover {
  filter: drop-shadow(0 0 1.1em var(--prim-light-purple));
}

.start-btn {
  background-color: var(--prim-light-purple);
  color: var(--bg-black);
  will-change: filter;
  transition: filter 300ms;
}

.start-btn:hover {
  filter: drop-shadow(0 0 2em var(--acc-br-purple));
}

.players-name {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 16px;
}

.players-name form div {
  margin-bottom: 12px;
}

input {
  padding: 1.5px 3px;
}

input:focus {
  border: 2px solid var(--acc-br-purple);
  background-color: var(--sec-dark-purple);
  outline: none;
  color: var(--text);
}

.container .container-board {
  display: grid;
  grid-template: repeat(3, 100px)/repeat(3, 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  margin: 20px auto 0 auto;
  padding: 3px;
  text-align: center;
  gap: 10px;
}

.container .container-board .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid var(--acc-br-purple);
  border-radius: 8px;
  background-color: var(--sec-dark-purple);
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  backdrop-filter: blur(3px);
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 410px;
  padding: 14px;
  color: #fff;
  background-color: hsl(47, 89%, 56%);
  /* border: 2px solid black; */
  border-radius: 4px;
}

.hidden {
    display: none;
}
