.light-bg {
    background: radial-gradient(50% 50% at 50% 50%, #8AE8CC 0%, #EEEEEE 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
